* {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px 0px;

}

/* ヘッダー
-------------*/
header {
    margin: 0px auto;
    background-color: rgb(0, 109, 193);
}

/* メニュー 
-------------*/
.menu {
    margin-bottom: 10px;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.menuList li {
    padding: 0 10px;
    margin: 2px 5px;
    border: 1px black solid;
    border-radius: 5px;
}


#debugDummy {
    display: none;
}

/* 今日の日記ゾーン
-------------*/

.todayMemoArea {
    display: flex;
    justify-content: space-evenly;
    width: 98%;
    margin: 20px auto;
    border: 1px solid #eee;
}

/* メモエリア(左側) */
.todayMemo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 58%;
}

.todayMemo #inputTodayMemo {
    width: 96%;
    height: 200px;
    padding: 2px;
    border: 1px solid black;
    margin: 10px;
}




#buttonRecord {
    border-top: 3px solid rgb(81, 180, 255);
    border-right: 3px solid rgb(81, 180, 255);
    border-left: 3px solid rgb(0, 109, 193);
    border-bottom: 3px solid rgb(0, 109, 193);
    border-radius: 5px;
    padding: 1px 3px;
    margin: 5px;
    background-color: rgb(0, 140, 247);
    color: white;
}

#buttonRecord:disabled {
    border: 1px solid #ccc;
    background-color: #eee;
    color: #777;
}


/* タグ選択(右側) */
.selectTagArea {
    background-color: #eee;
    height: 300px;
    overflow: scroll;
    border: 1px solid #ccc;
    width: 40%;
    margin: 4px;
}

#inputTodayTags {
    background-color: white;
    padding: 2px;
    border: 1px solid black;
    margin: 10px;
    max-width: 85%;
}

#buttonAddTag {
    padding: 1px 3px;
    margin: 5px;
    border-top: 3px solid rgb(81, 180, 255);
    border-right: 3px solid rgb(81, 180, 255);
    border-left: 3px solid rgb(0, 109, 193);
    border-bottom: 3px solid rgb(0, 109, 193);
    border-radius: 5px;
    background-color: rgb(0, 140, 247);
    color: white;
}

#buttonAddTag:disabled {
    border: 1px solid #ccc;
    background-color: #eee;
    color: #777;
}

#tagCheckBox {
    display: flex;
    flex-wrap: wrap;
    /* width: 300px; */
    line-height: 2;
}

#tagCheckBox input[type="checkbox"] {
    display: none;
}

#tagCheckBox label {
    padding: 3px 5px;
    background-color: rgb(172, 172, 172);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

#tagCheckBox input[type="checkbox"]:checked+label {
    background-color: rgb(0, 140, 247);
    outline: 2px solid rgb(0, 157, 247);
    color: white;
}

/* 過去メモ 
-------------*/
.history {
    /* background-color: #eee; */
    margin: 10px;
}

/* リスト表示 */
.diaryTitle {
    font-size: 30px;
    color: #555;
    font-weight: bold;
}

.switchView {
    display: flex;
    justify-content: center;
    align-items: center;
}

.historyList {
    width: 95%;
}

.historyList li {
    border-bottom: 2px solid #eee;
    overflow-wrap: break-word;
}

.historyListDate {
    color: gray;
    font-size: 0.5rem;
}

.historyListTags {
    color: gray;
    font-size: 0.5rem;
}